@{
  Layout="Shared/_Layout.cshtml";
}


  <h1>Search Results</h1>
  @if(@Model != null && @Model.GetName() == @Request.Form["restaurant-search"])
  {
    <p>Name: @Model.GetName()</p>
    <p>Location: @Model.GetLocation()</p>
    <p>Delivery: @Model.UserViewDelivery()</p>
  }
  else
  {
    <h2>No restaurant found with the name of @Request.Form["restaurant-search"]</h2>
  }

  <p><a href="/">Go Back Home</a></p>
